
#about{
    display: flex;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.075);
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    /* background-color: #c1d0e0; */
    /* background-color: #d2e3eb; */
    box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.3);
}
.container-about {
    display: flex;
    height: 100vh;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    /* scroll-margin-top: 10vh; */
    font-family: "Quicksand", serif;
}
.child-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    color: #5c96cc;
}
.child-title::after{
    content: '👨‍💻';
    color:  #5c96cc;
    text-shadow: 1px 1px 5px #5c96cc;
    font-style: normal;
}
.container-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 30px;
    overflow: hidden;
    text-align: justify;

}

.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.profile-info img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    object-fit: cover;
    
}
.profile-text {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}
@media (max-width: 480px) {
    #about{
        padding: 15px 5px;
        /* margin-top: 10vh; */
        position: relative;
    }
    .profile-info{
        display: flex;
        flex-direction: column;
    }
    .child-title{
        font-size: 2rem;
    }

    .container-about {
        font-size: 1.3rem;
        height: 100%;
    }
    .profile-text {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .profile-info img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
    }
    
}

@media (min-width: 480px) and (max-width: 768px) {
    #about{
        padding: 20px 13px;
    }

    .container-about {
        font-size: 1.5rem;
        height: 100%;
    } 
    .profile-info{
        display: flex;
        flex-direction: column;
    }
    .child-title{
        font-size: 2.2rem;
    }
    .profile-text {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .profile-info img {
        max-width: 150px;
        max-height: 150px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    #about{
        padding: 20px;
    }
    .container-about {
        font-size: 1.7rem;
        height: 100%;
    }
    .child-title{
        font-size: 2.7rem;
    }
    .profile-text {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .profile-info img {
       
        min-width: 200px;
        min-height: 200px;
    }
}
@media (min-width: 1024px) {
    #about{
        padding: 20px;
    }
    .container-about {
        font-size: 1.8rem;
        height: 100%;
    }
    .profile-info img {
       max-width: 500px;
       max-height: 500px;
    }
    .profile-text {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}
