#soft-skills {
    /* padding: 5px 40px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Quicksand", serif;
    height: auto;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
    background-color: #eff3f5;
}

/* #soft-skills picture {
    height: 100%;
    width: 100%;
    position: absolute;
}

#soft-skills picture img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
} */
.skills-complete{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
    position: relative;
    z-index: 3;
}
.skills-complete img{
    display: flex;
    max-height: 500px;
    max-width: 500px;
    border-radius: 9px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #83acd3;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
 
}

.skill {
    flex: 1;
    border: 2px solid #83acd3;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*titulo de la seccion habilidades*/
#soft-skills h2 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-bottom: 30px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    color: #4a90e2;;
    z-index: 4;
}
#soft-skills h2::after{
    content: '🌱';
    color:  #5c96cc;
    text-shadow: 1px 1px 5px #5c96cc;
    font-style: normal;
}

.skill h3 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: #5c96cc;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5e3ee96;
    border-radius: 10px;
    height: 40px;
    
}

.skill p {
    font-size: 1.9rem;
    color: #555;
    margin-top: auto;
}

.skill:hover {
    transform: scale(1.02);
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill:hover h3 {
    transform: translateY(10px);
}

@media (max-width: 480px) {
    #soft-skills {
        margin-top: 0vh;
    }
    #soft-skills h2 {
        font-size: 2.5rem;
        position: relative;
    }

    .skills-container {
        display: flex;
        gap: 15px;
    }
    .skills-complete img{
        max-height: 200px;
        max-width: 200px;
    }
    .skill{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 10px;
        
        
    }
    .skill h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        height: 40px;
    }

    .skill p {
        font-size: 1.4rem;
  
        margin-top: 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #soft-skills {
    }
    #soft-skills h2 {
        font-size: 2.8rem;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
    .skills-complete img{
        max-height: 300px;
        max-width: 300px;
    }

    .skill h3 {
        font-size: 2rem;
    }

    .skill p {
        font-size: 1.7rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #soft-skills h2 {
        font-size: 3rem;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills-complete img{
        max-height: 400px;
        max-width: 400px;
    }

    .skill h3 {
        font-size: 2.2rem;
    }

    .skill p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1025px) {
    #soft-skills h2 {
        font-size: 3.5rem;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skill h3 {
        font-size: 2.4rem;
    }

    .skill p {
        font-size: 1.9rem;
    }
}
