:root {
    --colortexto {
        background-color: black;
    }
}
#index {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 20px;
    background: linear-gradient(to bottom, #7babd8, #d2e3eb); /* Azul oscuro, gris y naranja */
}
#index section {
    height: 100vh;
    align-content: center;
    /* font-size: 1rem; */
    width: 100%;
}
section .left {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: 100%;
    padding: 30px;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
.left-items {
    /* background-color: #2ecc71; */
    padding: 5rem;
    font-size: 2rem;
}
.left-items .saludo {
    font-family: "Quicksand";
    font-style: normal;
    color: var(--colortexto);
}
.left-items .name {
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
    font-weight: 100;
    color: var(--colortexto);
}
.left-items .info {
    font-family: "Quicksand";
    color: var(--colortextos);
}
.info span {
    color: rgb(16, 83, 158);
    font-size: 2.5rem;
    font-weight: bolder;
}
.icons {
    display: flex;
    gap: 2rem;
    position: relative;
    top: 2rem;
    /* background-color: #1d2725; */
    padding: 5px;
}
.icons img {
    height: 30px;
    width: 30px;
    font-size: 50px; /* Tamaño del ícono o texto */
    box-shadow: 0px 0px 5px rgb(112, 177, 252);
    border-radius: 50%;
    transition: color 0.9s ease, text-shadow 0.6s ease, transform 0.3s ease;
}
.icons img:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 5px #e47114;
}
.left-items .button {
    background-color: rgb(68, 151, 219);
    overflow: hidden;
    position: relative;
    top: 3rem;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(164, 200, 241);
    transition: color 0.9s ease, text-shadow 0.6s ease, transform 0.3s ease;
}
.button:hover {
    transform: scale(1.04);
    background-color: #66caba;
}
.button a {
    text-decoration: none;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    color: white;
}
section .right {
    display: flex;
    height: 100%;
    font-size: large;
    /* background-color: #2ecc71; */
    justify-content: center;
    align-items: center;
}
.right .logo {
    height: auto;
    width: 40%;
    max-height: 40%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.right .logo:hover {
    transform: scale(1.1);
    animation-duration: 1s;
}
@media (max-width: 480px) {
    #index {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 5rem;
    }
    .left {
        display: flex;
        /* font-size: 1.2rem; */
    }
    .left-items {
        display: flex;
        flex-direction: column;
        padding: 60px 0px;
        text-align: center;
    }

    .left-items .saludo {
        font-size: 1rem;
    }
    .left-items .name {
        font-size: 1.5rem;
    }
    .left-items .info {
        font-size: 1.4rem;
    }
    .left-items span {
        font-size: 1.7rem;
    }
    .left-items .icons {
        /* background-color: #e47114; */
        display: flex;
        justify-content: center;
    }
    .icons img {
        display: flex;
        height: 29px;
        width: 29px;
    }
    .left-items .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        height: 1rem;
        width: 150px;
    }
    .button a {
        font-size: 1.3rem;
    }
    .right .logo {
        width: 100%;
        max-width: 100px;
        max-height: 100px;
        margin-bottom: 5rem;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .left-items {
        display: flex;
        flex-direction: column;
        padding: 60px 0px;
        text-align: center;
    }

    .left-items .saludo {
        font-size: 1.2rem;
    }
    .left-items .name {
        font-size: 1.7rem;
    }
    .left-items .info {
        font-size: 1.7rem;
    }
    .left-items span {
        font-size: 1.9rem;
    }
    .left-items .icons {
        /* background-color: #e47114; */
        display: flex;
        justify-content: center;
    }

    .left-items .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        height: 4.5rem;
        width: 90%;
    }
    .button a {
        font-size: 1.3rem;
    }
    .right .logo {
        width: 100%;
        max-width: 170px;
        height: auto;
        margin-bottom: 5rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .left-items {
        display: flex;
        flex-direction: column;
        padding: 60px 0px;
        /* text-align: center; */
    }

    .left-items .saludo {
        font-size: 1.9rem;
    }
    .left-items .name {
        font-size: 2.3rem;
    }
    .left-items .info {
        font-size: 1.9rem;
    }
    .left-items span {
        font-size: 2.2rem;
    }
    /* .left-items .icons{
        display: flex;
        justify-content: center;
    } */

    .left-items .button {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 20px auto; */
        height: 4.5rem;
    }
    .button a {
        font-size: 1.5rem;
    }
    .right .logo {
        width: 100%;
        max-width: 170px;
        height: auto;
        margin-bottom: 5rem;
    }
}
